primary_region = "us-east-1"
app_prefix     = "as"
env            = "perf"

primary_vpc_id     = "vpc-xxxx"
primary_subnet_ids = ["subnet-a", "subnet-b"]
primary_ecs_sg_id  = "sg-ecs-tasks"

enable_eu_west_1     = true
eu_west_1_vpc_id     = "vpc-xxxx"
eu_west_1_subnet_ids = ["subnet-a", "subnet-b"]
eu_west_1_ecs_sg_id  = "sg-ecs-tasks"

enable_ap_southeast_1     = true
ap_southeast_1_vpc_id     = "vpc-xxxx"
ap_southeast_1_subnet_ids = ["subnet-a", "subnet-b"]
ap_southeast_1_ecs_sg_id  = "sg-ecs-tasks"

redis_node_type = "cache.r6g.large"
redis_num_cache_nodes = 1
redis_transit_encryption_enabled = true
redis_at_rest_encryption_enabled = true
redis_auth_token = "replace-with-sample-redis-token"
